Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;
"Colors Reported" — цвет объекта;
"Shape Reported" — форма объекта;
"State" — обозначение штата;
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [2]:
import pandas as pd

ufo_data = pd.read_csv('data/ufo.csv', sep=',')
ufo_df = ufo_data.copy()
ufo_df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
# В каком году отмечается наибольшее количество случаев наблюдения НЛО в США

ufo_df.shape

(18241, 5)

In [20]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])

display(ufo_df['Time'].dt.year.mode())
display(ufo_df['Time'].dt.year.value_counts())

0    1999
Name: Time, dtype: int32

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: count, Length: 68, dtype: int64

In [15]:

# Найдите средний интервал времени (в днях) между двумя 
# последовательными случаями наблюдения НЛО в штате Невада (NV).
# Чтобы выделить дату из столбца Time, можно воспользоваться 
# атрибутом datetime date. # Чтобы вычислить разницу между двумя 
# соседними датами в столбце, # примените к нему метод diff(). 
# Чтобы перевести интервал времени в дни, 
# воспользуйтесь атрибутом timedelta days.

# ufo_diff = ufo_df[ufo_df['State'] == 'NV']['Time'].diff()
# display(ufo_diff.shape)

# display(ufo_diff.dt.days)

ufo_diff = ufo_df[ufo_df['State'] == 'NV']['Time'].diff()
display(ufo_diff.head())
display(ufo_diff.dt.days)
display(ufo_diff.dt.days.mean())

76                   NaT
172   1678 days 08:00:00
565   2766 days 06:00:00
566      0 days 01:00:00
613    290 days 11:00:00
Name: Time, dtype: timedelta64[ns]

76          NaN
172      1678.0
565      2766.0
566         0.0
613       290.0
          ...
17447      22.0
17567      14.0
17617       5.0
17890      31.0
18104      33.0
Name: Time, Length: 284, dtype: float64

68.44876325088339