In [6]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')

display(student_data.head(5)) # First 5 elements

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [21]:
# Данные о скольких студентах содержатся в таблице

student_data.shape

(1000, 8)

In [10]:
# Каков балл по письму у студента под индексом 155

student_data['writing score'][155]

88

In [ ]:
# Какой объём памяти (в килобайтах) занимает таблица

student_data.info()

In [12]:
# Сколько столбцов в таблице имеет тип данных object
# Каков у студентов средний балл по математике
# Сколько суммарно пропущенных значений в таблице
# 

student_data['math score'].mean()

66.089

In [ ]:
# Какая расовая группа является самой крупной в учебном заведении

student_data['race/ethnicity'].describe()

In [18]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам

mask1 = student_data['test preparation course'] == 'completed'
student_data[mask1]['reading score'].mean()

73.89385474860335

In [ ]:
# Сколько студентов получили 0 баллов по математике

student_data[student_data['math score'] == 0].count()

In [36]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, 
# чем у студентов с льготным питанием. В качестве ответа напишите 
# наибольший средний балл по математике среди этих групп студентов

standart_lunch = student_data[student_data['lunch'] == 'standard']['math score'].mean()
display(standart_lunch)

free_lunch = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
display(free_lunch)

70.03410852713178

58.92112676056338

In [38]:
# Каков процент студентов, родители которых имеют высшее образование 
# уровня бакалавриата (bachelor's degree)

student_data[student_data['parental level of education'] == "bachelor's degree"].count()

(118/1000)*100

11.799999999999999

In [51]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается 
# от среднего балла по письму у студентов в расовой группе C? 
# Округлите ответ до целого и запишите модуль этого числа

med_race_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()

mean_race_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

display(abs(med_race_a - mean_race_c))

5.827586206896555