In [3]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

countries_data = pd.read_csv('data/countries.csv', sep=';')
# display(countries_data)

data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
# display(data)

import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# display(round(melb_data.iloc[3521, 14]/melb_data.iloc[1690, 14])) Восколько раз объект больше другого
display(melb_data.head(5)) # First 5 elements
# display(melb_data.tail(7)) # Last 5 elements
# display(melb_data.shape) # узнать размер таблицы — количество строк и количество столбцов

melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
display(melb_data.info())

# display(melb_data.describe()) # метод describe() возвращает DataFrame, в котором указаны: 

# количество непустых строк (count);
# количество уникальных значений (unique);
# самое частое значение — мода —  (top);
# частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

None

In [4]:
melb_data.describe(include=['int64']) # С помощью параметра include можно указать 
# тип данных, для которого нужно вывести описательную информацию

,index,Rooms,Postcode,Bedroom,Bathroom,Car,YearBuilt,Propertycount
count,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,6789.500000,2.937997,3105.301915,2.914728,1.534242,1.611856,1966.788218,7454.417378
std,3920.352663,0.955748,90.676964,0.965921,0.691712,0.960793,29.088642,4378.581772
min,0.000000,1.000000,3000.000000,0.000000,0.000000,0.000000,1196.000000,249.000000
25%,3394.750000,2.000000,3044.000000,2.000000,1.000000,1.000000,1960.000000,4380.000000
50%,6789.500000,3.000000,3084.000000,3.000000,1.000000,2.000000,1970.000000,6555.000000
75%,10184.250000,3.000000,3148.000000,3.000000,2.000000,2.000000,1975.000000,10331.000000
max,13579.000000,10.000000,3977.000000,20.000000,8.000000,10.000000,2018.000000,21650.000000

Столбец Suburb (пригород)

Наибольшее количество проданных объектов (359) находилось в пригороде Reservoir.
Столбец Type (тип здания)

Самый популярный тип дома — h (дом, вилла, коттедж).
Столбец SellerG (риелтор)

В наших данных нам известно о 268 различных риэлторских компаниях, однако самой главной «акулой» в этом бизнесе является компания Nelson — они продали 1 565 различных домов.
Столбец Date (дата продажи)

В нашей таблице содержится информация за 58 дней, при этом наибольшее число продаж (473) пришлось на 27 мая 2017 года.

In [5]:
melb_data['Suburb'].value_counts() # в качестве индексов выступают уникальные категории столбца, 
# а значениями — соответствующая им частота

Suburb
Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: count, Length: 314, dtype: int64

In [6]:
melb_data['Distance'].value_counts() # в качестве индексов выступают уникальные категории столбца, 
# а значениями — соответствующая им частота

Distance
11.2    739
9.2     367
13.9    324
7.8     306
4.6     263
       ...
37.5      1
29.3      1
47.4      1
39.8      1
48.1      1
Name: count, Length: 202, dtype: int64

In [7]:
mean_price = melb_data['Price'].mean() # Среднее значение столбца
display(mean_price)
med_price = melb_data['Price'].median()
display(med_price)
diff_price = mean_price/med_price # Во сколько раз отличаются средняя и медианная
display(diff_price)

1075684.079455081

903000.0

1.1912337535493698

In [ ]:
mean_b_area = melb_data['BuildingArea'].mean() # Среднее значение столбца площадь здания
display(mean_b_area)

mean_dist = melb_data['Distance'].mean() # Среднее значение столбца километров от центра города
display(mean_dist)

display(melb_data['Distance'].describe()) # метод describe() возвращает DataFrame, в котором указаны: 
display(melb_data['BuildingArea'].describe()) # метод describe() возвращает DataFrame, в котором указаны: 

# количество непустых строк (count);
# количество уникальных значений (unique);
# самое частое значение — мода —  (top);
# частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

# B Квартиль уровня 0.25 столбца Distance равен 6.1 км, 
# квартиль уровня 0.75 того же столбца равен 13 км.

# D Минимальное расстояние (столбец Distance) от центра города равно 0. 
# Это значит, что на карте есть как минимум одна точка, которая совпадает с точкой, 
# обозначенной как центр города

display(melb_data.loc[melb_data['Distance'] == 0])

In [ ]:
#Координаты Мельбурна в десятичных градусах
#Широта: -37.8140000° Lattitude
#Долгота: 144.9633200° Longitude
# Метод 1: выберите строки, где столбец равен определенному значению
# df - DataFrame
latit_melb_build = melb_data.loc[melb_data['Lattitude'] == -37.8140000]
# display(latit_melb_build)
longtit_melb_build = melb_data.loc[melb_data['Longtitude'] == 144.9633200]
# display(longtit_melb_build)
# display(melb_data['Lattitude'].describe()) # метод describe() возвращает DataFrame, в котором указаны: 
# display(melb_data['Longtitude'].describe()) 
# display(melb_data.duplicated()) # Повторяющихся строк  нет
duplicateRows = melb_data[melb_data.duplicated(['Lattitude', 'Longtitude'])] # Повторы по столбцам широта и долгота
display(duplicateRows)

In [32]:
# display(melb_data['Regionname'].describe()) # В столбце Regionname восемь уникальных значений (unique), 
# что даёт право сделать вывод, что в Мельбурне и его пригородах как минимум восемь различных районов.

# display(melb_data['Address'].describe())

# display(melb_data['Coordinates'].describe())

# Количество уникальных значений (unique) в столбце Address больше, чем количество уникальных значений 
# в столбце Coordinates. Это значит, что некоторые различные адреса помечены одинаковыми 
# географическими координатами.

# display(melb_data['Suburb'].describe()) # Наиболее часто встречающееся (top) значение в столбце Suburb 
# является Reservoir. Частота (freq) его использований — 359 раз.

# display(melb_data['Type'].describe())

df_type = melb_data['Type'].value_counts() # в качестве индексов выступают уникальные категории столбца, 
# а значениями — соответствующая им частота
display((df_type['t']/(len(melb_data['Type'])))*100)

8.203240058910161

In [33]:
display(melb_data['Propertycount'].mode()) # максимальное количество домов на продажу в районе

0    21650
Name: Propertycount, dtype: int64

In [36]:
melb_data['Regionname'].mode() # наиболее распространённое название района

0    Southern Metropolitan
Name: Regionname, dtype: object

In [38]:
melb_data['Distance'].std() # стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости

5.868724943071711

In [43]:
(abs(melb_data['BuildingArea'].mean() - melb_data['BuildingArea'].median()))/melb_data['BuildingArea'].mean() * 100
# отклонение (в процентах) медианного значения площади здания от его среднего значения

9.764079662364534

In [46]:
melb_data['Bedroom'].mode() # колько спален чаще всего встречается в домах в Мельбурне

0    3
Name: Bedroom, dtype: int64

In [ ]:
mask = melb_data['Price'] > 2000000
display(mask)
display(melb_data[mask].head())

In [ ]:
melb_data[melb_data['Price'] > 2000000]

In [57]:
# Найдём количество зданий с тремя комнатами. Для этого отфильтруем таблицу по условию: 
# обратимся к результирующей таблице по столбцу Rooms и найдём число строк в ней 
# с помощью атрибута shape

melb_data[melb_data['Rooms'] == 3].shape[0]

3

In [ ]:
# число трёхкомнатных домов с ценой менее 300 тысяч:

melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

In [58]:
# дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 
# либо площадь домов более 100 квадратных метров

melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

In [59]:
# максимальное количество комнат в таунхаусах

melb_data[melb_data['Type'] == 't']['Rooms'].max()

5

In [60]:
# найдём медианную площадь здания у объектов, чья цена выше средней. 
# Для того чтобы оградить наш код от нагромождений, 
# предварительно создадим переменную со средней ценой

mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

In [62]:
# У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты

melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [64]:
# были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов

melb_data[((melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000))].shape[0]

5

In [66]:
# минимальная стоимость участка без здания (площадь здания равна 0)

melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [186]:
melb_data['Date'] = pd.to_datetime(melb_data['Date'], format = '%d/%m/%Y') # 769239 ожидаемый ответ 

round(melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['Date'] > '2015-01-01'))]['Price'].mean())

674055

In [138]:
#  каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) 
# с ценой меньше трёх миллионов

melb_data[(melb_data['Price'] < 3000000) & (melb_data['Type'] == 'h')]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [ ]:
melb_data['Date'] = pd.to_datetime(melb_data['Date'], format = '%d/%m/%Y')
melb_data['Date']

In [176]:
melb_data['Date'] = pd.to_datetime(melb_data['Date'], format = '%d/%m/%Y')
melb_data['Date'].mean()

Timestamp('2017-01-28 20:25:03.622974976')