In [42]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

countries_data = pd.read_csv('data/countries.csv', sep=';')
# display(countries_data)

data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
# display(data)

import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# display(round(melb_data.iloc[3521, 14]/melb_data.iloc[1690, 14])) Восколько раз объект больше другого
display(melb_data.head(5)) # First 5 elements
# display(melb_data.tail(7)) # Last 5 elements
# display(melb_data.shape) # узнать размер таблицы — количество строк и количество столбцов

melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
display(melb_data.info())

# display(melb_data.describe()) # метод describe() возвращает DataFrame, в котором указаны: 

# количество непустых строк (count);
# количество уникальных значений (unique);
# самое частое значение — мода —  (top);
# частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

None

In [ ]:
melb_data.describe(include=['int64']) # С помощью параметра include можно указать 
# тип данных, для которого нужно вывести описательную информацию

Столбец Suburb (пригород)

Наибольшее количество проданных объектов (359) находилось в пригороде Reservoir.
Столбец Type (тип здания)

Самый популярный тип дома — h (дом, вилла, коттедж).
Столбец SellerG (риелтор)

В наших данных нам известно о 268 различных риэлторских компаниях, однако самой главной «акулой» в этом бизнесе является компания Nelson — они продали 1 565 различных домов.
Столбец Date (дата продажи)

В нашей таблице содержится информация за 58 дней, при этом наибольшее число продаж (473) пришлось на 27 мая 2017 года.

In [44]:
melb_data['Suburb'].value_counts() # в качестве индексов выступают уникальные категории столбца, 
# а значениями — соответствующая им частота

Suburb
Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: count, Length: 314, dtype: int64

In [ ]:
melb_data['Distance'].value_counts() # в качестве индексов выступают уникальные категории столбца, 
# а значениями — соответствующая им частота

In [ ]:
mean_price = melb_data['Price'].mean() # Среднее значение столбца
display(mean_price)
med_price = melb_data['Price'].median()
display(med_price)
diff_price = mean_price/med_price # Во сколько раз отличаются средняя и медианная
display(diff_price)

In [ ]:
mean_b_area = melb_data['BuildingArea'].mean() # Среднее значение столбца площадь здания
display(mean_b_area)

mean_dist = melb_data['Distance'].mean() # Среднее значение столбца километров от центра города
display(mean_dist)

display(melb_data['Distance'].describe()) # метод describe() возвращает DataFrame, в котором указаны: 
display(melb_data['BuildingArea'].describe()) # метод describe() возвращает DataFrame, в котором указаны: 

# количество непустых строк (count);
# количество уникальных значений (unique);
# самое частое значение — мода —  (top);
# частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

# B Квартиль уровня 0.25 столбца Distance равен 6.1 км, 
# квартиль уровня 0.75 того же столбца равен 13 км.

# D Минимальное расстояние (столбец Distance) от центра города равно 0. 
# Это значит, что на карте есть как минимум одна точка, которая совпадает с точкой, 
# обозначенной как центр города

display(melb_data.loc[melb_data['Distance'] == 0])

In [104]:
#Координаты Мельбурна в десятичных градусах
#Широта: -37.8140000° Lattitude
#Долгота: 144.9633200° Longitude
# Метод 1: выберите строки, где столбец равен определенному значению
# df - DataFrame
latit_melb_build = melb_data.loc[melb_data['Lattitude'] == -37.8140000]
# display(latit_melb_build)
longtit_melb_build = melb_data.loc[melb_data['Longtitude'] == 144.9633200]
# display(longtit_melb_build)
# display(melb_data['Lattitude'].describe()) # метод describe() возвращает DataFrame, в котором указаны: 
# display(melb_data['Longtitude'].describe()) 
# display(melb_data.duplicated()) # Повторяющихся строк  нет
duplicateRows = melb_data[melb_data.duplicated(['Lattitude', 'Longtitude'])] # Повторы по столбцам широта и долгота
display(duplicateRows)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
22,22,Abbotsford,138/56 Nicholson St,3,u,1090000.0,S,Jellis,18/03/2017,2.5,...,2,4290.0,27.0,1970,Yarra,-37.80780,144.99650,Northern Metropolitan,4019,"-37.8078, 144.9965"
26,26,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22/08/2016,2.5,...,1,0.0,126.0,1970,Yarra,-37.80160,144.99880,Northern Metropolitan,4019,"-37.8016, 144.9988"
28,28,Abbotsford,116/56 Nicholson St,1,u,457000.0,S,Jellis,22/08/2016,2.5,...,1,0.0,50.0,1970,Yarra,-37.80780,144.99650,Northern Metropolitan,4019,"-37.8078, 144.9965"
40,40,Airport West,50 Bedford St,3,h,770000.0,SP,Nelson,4/03/2017,13.5,...,1,0.0,145.0,1965,Moonee Valley,-37.72030,144.87550,Western Metropolitan,3464,"-37.7203, 144.8755"
111,111,Albert Park,2b Dundas Pl,3,h,1532000.0,S,Chisholm,26/07/2016,3.3,...,1,0.0,126.0,1970,Port Phillip,-37.84150,144.95850,Southern Metropolitan,3280,"-37.8415, 144.9585"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13140,13140,Carnegie,12/40 Woorayl St,1,u,381000.0,S,Ray,23/09/2017,10.1,...,1,2048.0,55.0,1970,NaN,-37.88642,145.05979,Southern Metropolitan,7822,"-37.88642, 145.05979"
13217,13217,Kew,11/26 Edgevale Rd,2,t,955000.0,S,Jellis,23/09/2017,5.4,...,1,2835.0,100.0,1970,NaN,-37.81439,145.04237,Southern Metropolitan,10331,"-37.81439, 145.04237"
13250,13250,Northcote,19 Charles St,3,h,1360000.0,SP,McGrath,23/09/2017,5.3,...,1,184.0,126.0,1910,NaN,-37.77651,144.99074,Northern Metropolitan,11364,"-37.77651, 144.99074"
13280,13280,Richmond,201/77 Abinger St,1,u,400000.0,VB,Marshall,23/09/2017,2.4,...,1,4425.0,51.0,2012,NaN,-37.82009,145.00380,Northern Metropolitan,14949,"-37.82009, 145.0038"
13429,13429,Frankston South,3 Diosma Ct,3,h,1155000.0,S,hockingstuart,26/08/2017,38.0,...,2,2405.0,242.0,1980,NaN,-38.16457,145.12421,South-Eastern Metropolitan,7566,"-38.16457, 145.12421"

In [110]:
display(melb_data['Regionname'].describe()) # В столбце Regionname восемь уникальных значений (unique), 
# что даёт право сделать вывод, что в Мельбурне и его пригородах как минимум восемь различных районов.

display(melb_data['Address'].describe()) 
display(melb_data['Coordinates'].describe()) 
# Количество уникальных значений (unique) в столбце Address больше, чем количество уникальных значений 
# в столбце Coordinates. Это значит, что некоторые различные адреса помечены одинаковыми 
# географическими координатами.
display(melb_data['Suburb'].describe()) # Наиболее часто встречающееся (top) значение в столбце Suburb 
# является Reservoir. Частота (freq) его использований — 359 раз.

count                     13580
unique                        8
top       Southern Metropolitan
freq                       4695
Name: Regionname, dtype: object

count                13580
unique               13378
top       36 Aberfeldie St
freq                     3
Name: Address, dtype: object

count                  13580
unique                 13097
top       -37.8361, 144.9966
freq                      12
Name: Coordinates, dtype: object

count         13580
unique          314
top       Reservoir
freq            359
Name: Suburb, dtype: object