In [64]:
import pandas as pd

ratings_movies = pd.read_csv('data/ratings_movies.csv')
ratings_movies.head(2)

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [65]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [66]:
display(ratings_movies.shape[0])

100836

Данная функция основана на регулярных выражениях и использует модуль re, с которым мы пока не работали.

→ Модуль re предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.

ДОПОЛНИТЕЛЬНО

При желании вы можете ознакомиться с регулярными выражениями по https://tproger.ru/translations/regular-expression-python/, однако это не является обязательным для выполнения заданий в этом юните.

Из модуля re нам понадобится только функция findall(), которая позволяет найти в строке все слова, удовлетворяющие шаблону. Мы находим в строке с названием фильма шаблон "(DDDD)" — четыре цифры, обёрнутых в скобки, что соответствует году выпуска фильма. Если такого шаблона не было найдено (год выпуска не указан), функция возвращает None (в таблице это будет помечено как пропуск).

Совет: для выполнения заданий используйте изученные в этом модуле методы.

Задание 8.1
1 point possible (graded)
Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [67]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)

a = ratings_movies.shape[0] # 100836
b = ratings_movies['year_release'].count() # 100818
print(a-b) # 18

18

Задание 8.2
1 point possible (graded)
Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [68]:
mask = ratings_movies['year_release'] == 1999

ratings_movies[mask].groupby('title')['rating'].mean().sort_values(ascending=True)

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

Задание 8.3
1 point possible (graded)
Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [69]:
mask2 = ratings_movies['year_release'] == 2010

ratings_movies[mask2].groupby('genres')['rating'].mean().sort_values(ascending=True)

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

Задание 8.4
1 point possible (graded)
Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [70]:
ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

Задание 8.5
1 point possible (graded)
Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.
Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.

In [71]:
ratings_movies.groupby('userId')['rating'].agg(
    ['count', 'mean', 'max']
).sort_values(by='mean', ascending=False)

        count      mean  max
userId
53         20  5.000000  5.0
251        23  4.869565  5.0
515        26  4.846154  5.0
25         26  4.807692  5.0
30         34  4.735294  5.0
...       ...       ...  ...
567       385  2.245455  5.0
153       179  2.217877  5.0
508        24  2.145833  4.5
139       194  2.144330  4.0
442        20  1.275000  2.5

[610 rows x 3 columns]

Задание 8.6
1 point possible (graded)
Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [72]:
mask3 = ratings_movies['year_release'] == 2018
mask4 = ratings_movies['rating'].count() > 10

ratings_movies[mask3&mask4].groupby('genres')['rating'].agg(
    ['count', 'mean', 'max']
).sort_values(by='mean', ascending=False)

                                        count      mean  max
genres
Adventure|Comedy|Fantasy                    1  4.500000  4.5
Comedy|Romance                              1  4.500000  4.5
Comedy|Fantasy|Sci-Fi                       1  4.500000  4.5
Adventure|Thriller                          1  4.500000  4.5
Documentary                                 2  4.000000  5.0
Action|Comedy|Crime|Horror                  1  4.000000  4.0
Action|Crime|Drama|Thriller                 1  4.000000  4.0
Action|Adventure|Sci-Fi                    14  3.928571  5.0
Action|Adventure|Children|Sci-Fi            5  3.900000  5.0
Action|Comedy|Sci-Fi                       12  3.875000  5.0
Adventure|Mystery|Sci-Fi|Thriller           3  3.833333  4.0
Action|Adventure|Thriller                   2  3.750000  4.0
Action|Adventure|Comedy|Fantasy|Sci-Fi      3  3.666667  4.0
Horror|Mystery|Thriller                     1  3.500000  3.5
Crime|Drama                                 1  3.500000  3.5
Animation|Comedy                            5  3.500000  5.0
Sci-Fi|Thriller                             1  3.500000  3.5
Action|Mystery|Sci-Fi|Thriller              1  3.500000  3.5
Action|Animation                            1  3.500000  3.5
Comedy                                      8  3.312500  4.5
Comedy|Drama                                2  3.250000  4.0
Action|Adventure|Drama|Sci-Fi|Thriller      2  3.250000  4.0
Adventure|Children|Fantasy|Sci-Fi           1  3.000000  3.0
Action|Comedy                               1  3.000000  3.0
Action|Adventure|Animation|Children         4  3.000000  4.0
Action|Fantasy|Sci-Fi                       2  2.750000  3.0
Drama|Horror|Thriller                       4  2.750000  4.5
Comedy|Crime|Drama                          1  2.500000  2.5
Action|Crime|Thriller                       1  2.500000  2.5
Action|Adventure|Fantasy                    4  2.500000  3.5
Horror|Mystery|Sci-Fi|Thriller              2  2.250000  4.0
Drama|Fantasy|Thriller                      1  2.000000  2.0
Crime|Drama|Mystery|Thriller                1  1.500000  1.5

Задание 8.7
1 point possible (graded)
Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [73]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])

ratings_movies['year_rating'] = ratings_movies['date'].dt.year

За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3.

In [74]:
mask5 = ratings_movies['year_rating'] >= 1996 
mask6 = ratings_movies['year_rating'] <= 2018
mask7 = ratings_movies['rating'] < 3

ratings_movies[mask5&mask6&mask7].groupby(['year_rating', 'genres'])['rating'].value_counts()
# Action|Adventure                                 1.0       1

year_rating  genres                                           rating
1996         Action                                           2.0       6
                                                              1.0       3
             Action|Adventure                                 1.0       1
             Action|Adventure|Children|Comedy|Fantasy|Sci-Fi  2.0       1
                                                              1.0       1
                                                                       ..
2018         Thriller                                         2.5       4
                                                              0.5       1
                                                              1.0       1
                                                              1.5       1
             Western                                          2.0       1
Name: count, Length: 8330, dtype: int64

За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3.

Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году.

In [84]:
mask8 = ratings_movies['genres'] == 'Action|Adventure|Animation|Children|Comedy|IMAX'

ratings_movies[mask8].groupby(['year_rating', 'genres'])['rating'].agg(
    ['count', 'mean', 'max']
).sort_values(by='max', ascending=False) # нет

,,count,mean,max
year_rating,genres,,,
2012,Action|Adventure|Animation|Children|Comedy|IMAX,10,3.550000,5.0
2013,Action|Adventure|Animation|Children|Comedy|IMAX,1,5.000000,5.0
2018,Action|Adventure|Animation|Children|Comedy|IMAX,5,3.700000,5.0
2015,Action|Adventure|Animation|Children|Comedy|IMAX,4,3.375000,4.0
2016,Action|Adventure|Animation|Children|Comedy|IMAX,3,3.666667,4.0
2009,Action|Adventure|Animation|Children|Comedy|IMAX,4,3.250000,3.5
2010,Action|Adventure|Animation|Children|Comedy|IMAX,1,3.500000,3.5
2014,Action|Adventure|Animation|Children|Comedy|IMAX,1,3.500000,3.5
2017,Action|Adventure|Animation|Children|Comedy|IMAX,1,1.000000,1.0

Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.

In [115]:
# mask9 = ratings_movies['genres'] == 'Animation|Children|Mystery'
mask9 = ratings_movies['year_rating'] == 2018

rat_mov = ratings_movies[mask9].groupby(['genres'])['rating'].mean().sort_values(ascending=False)
rat_mov
rat_mov['Animation|Children|Mystery']
# rat_mov.info()

5.0

Если обратиться к сводной таблице по индексу 2018 года и отсортировать результат по убыванию, то среди жанров, получивших наивысшую оценку, можно найти сочетание Animation|Children|Mystery

Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).

In [ ]:
mask10 = ratings_movies['genres'] == 'Comedy'

ratings_movies[mask10].groupby(['year_rating'])['rating'].agg(
    ['mean', 'max']
).sort_values(by='year_rating', ascending=True)

Если обратиться к столбцу Comedy сводной таблицы и отследить динамику изменения оценок фильмов этого жанра, можно обнаружить, что рейтинг данного жанра не падает на протяжении заданного периода.