Дано два файла:

orders.csv, содержащий данные о заказах;

products.csv, содержащий данные о товарах.

In [82]:
import pandas as pd

orders = pd.read_csv('data/orders.csv', sep=';')
orders.info()
orders.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата создания  18 non-null     object
 1   Order ID       18 non-null     int64
 2   ID Покупателя  18 non-null     int64
 3   Статус         18 non-null     object
 4   Оплачен        18 non-null     object
 5   Отменен        18 non-null     object
 6   Отгружен       18 non-null     object
 7   ID товара      18 non-null     int64
 8   Количество     18 non-null     int64
dtypes: int64(4), object(5)
memory usage: 1.4+ KB

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100

In [83]:
products = pd.read_csv('data/products.csv', sep=';')

products['ID товара'] = products['Product_ID']
products = products.drop(['Product_ID'], axis=1)
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       14 non-null     object
 1   Price      14 non-null     int64
 2   CURRENCY   14 non-null     object
 3   ID товара  14 non-null     int64
dtypes: int64(2), object(2)
memory usage: 576.0+ bytes

Прочитайте данные файлы, посмотрите на содержимое таблиц и проанализируйте его.

Подумайте, как связаны данные таблицы (какими ключевыми столбцами).

Объедините заданные таблицы в таблицу orders_products, чтобы в результирующей таблице оказалась информация обо всех заказах, но не оказалось информации о продуктах, на которых заказов ещё не поступало.

                  ТИПЫ ОБЪЕДИНЕНИЙ

Типы объединений в Pandas тесно связаны с операцией join из SQL, которую мы будем рассматривать в курсе в дальнейшем.

Они представлены на схеме ниже в виде кругов Эйлера.

                     inner (внутреннее)

При использовании такого типа объединения в результирующей таблице остаются только те записи, которые есть в обеих таблицах.

Аналогия в теории множеств
Пересечение (intersection) множеств А и В.

Строки, для которых совпадение не было найдено, удаляются.

                     outer (внешнее)

Данный тип делится на три подтипа:

full — используется как outer по умолчанию, объединяет все варианты в обеих таблицах.

Аналогия в теории множеств
Объединение (union) множеств А и В.

left — для всех записей из «левой» таблицы (например, ratings) ведётся поиск соответствий в «правой» (например, movies). В результирующей таблице останутся только те значения, которым были найдены соответствия, то есть только значения из ratings.

Аналогия в теории множеств
Вычитание (difference) множества B из результата объединения (union) множеств А и В.

right — аналогично предыдущему, но остаются значения только из «правой» таблицы. 

Аналогия в теории множеств
Вычитание (difference) множества А из результата объединения (union) множеств А и В.



     Во всех трёх случаях, 
     если совпадений между таблицами не найдено, на этом месте ставится пропуск (NaN).

Основные параметры метода join()

other — таблица, которую мы присоединяем. При объединении она является «правой», а исходная таблица, от имени которой вызывается метод, является «левой».

how — параметр типа объединения. 

Он может принимать значения 'inner', 'left' (left outer), 'right' (right outer), и 'outer' (full outer). По умолчанию параметр установлен на 'left'.

on — параметр, который определяет, по какому столбцу в «левой» таблице происходит объединение по индексам из «правой».

lsuffix и rsuffix — дополнения (суффиксы) к названиям одноимённых столбцов в «левой» и «правой» таблицах.

In [84]:
orders_products = products.merge(
    orders,
    on='ID товара',
    how='right',
)
display(orders_products.head(2))

,Name,Price,CURRENCY,ID товара,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Количество
0,"Носки Подарочные, муж",199.0,RUR,103,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,5
1,"Носки Простые, муж",45.0,RUR,86,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,100

In [85]:
orders_products.info()
orders_products.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           17 non-null     object
 1   Price          17 non-null     float64
 2   CURRENCY       17 non-null     object
 3   ID товара      18 non-null     int64
 4   Дата создания  18 non-null     object
 5   Order ID       18 non-null     int64
 6   ID Покупателя  18 non-null     int64
 7   Статус         18 non-null     object
 8   Оплачен        18 non-null     object
 9   Отменен        18 non-null     object
 10  Отгружен       18 non-null     object
 11  Количество     18 non-null     int64
dtypes: float64(1), int64(4), object(7)
memory usage: 1.8+ KB

,Name,Price,CURRENCY,ID товара,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,Количество
0,"Носки Подарочные, муж",199.0,RUR,103,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,5
1,"Носки Простые, муж",45.0,RUR,86,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,100

Задание 8.8
1 point possible (graded)
Какой идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре?

In [86]:
orders_products.groupby('Name')['Order ID'].count()

Name
Гольфы детские Снегурочка    1
Носки Подарочные, жен        4
Носки Подарочные, муж        3
Носки Простые, муж           2
Носки Честные, муж           1
Носки беговые Camino         1
Платье Аленький цветочек     1
Платье Ночная Жизнь          1
Платье Ночная Жизнь XXXL     1
Шатны Полосатый рейс         1
Штаны Цветочная Поляна       1
Name: Order ID, dtype: int64

In [90]:
orders_products.pivot_table(
    values='Price',
    index='Name',
    columns='Order ID', fill_value=0
)

Order ID                      1     2    3   4    5    6    7    8    9
Name
Гольфы детские Снегурочка     0    99    0   0    0    0    0    0    0
Носки Подарочные, жен         0     0  249   0    0  249  249  249    0
Носки Подарочные, муж         0     0  199   0    0  199    0    0  199
Носки Простые, муж           45     0    0   0    0    0    0   45    0
Носки Честные, муж            0     0    0  50    0    0    0    0    0
Носки беговые Camino          0     0    0   0  999    0    0    0    0
Платье Аленький цветочек   4999     0    0   0    0    0    0    0    0
Платье Ночная Жизнь        7999     0    0   0    0    0    0    0    0
Платье Ночная Жизнь XXXL      0  8999    0   0    0    0    0    0    0
Шатны Полосатый рейс          0  2999    0   0    0    0    0    0    0
Штаны Цветочная Поляна        0  4999    0   0    0    0    0    0    0

In [88]:
orders_products.groupby('Name')['Order ID'].agg(
    		[set]
).sort_values(by='Name', ascending=True)

                                    set
Name
Гольфы детские Снегурочка           {2}
Носки Подарочные, жен      {8, 3, 6, 7}
Носки Подарочные, муж         {9, 3, 6}
Носки Простые, муж               {8, 1}
Носки Честные, муж                  {4}
Носки беговые Camino                {5}
Платье Аленький цветочек            {1}
Платье Ночная Жизнь                 {1}
Платье Ночная Жизнь XXXL            {2}
Шатны Полосатый рейс                {2}
Штаны Цветочная Поляна              {2}

Задание 8.9
1 point possible (graded)
На какой товар была произведена отмена?
В качестве ответа запишите название этого товара (Name).

In [96]:
orders_products[orders_products['Статус'] == 'Отменён']['Name']

6    Носки беговые Camino
Name: Name, dtype: object

Задание 8.10
1 point possible (graded)
Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
В ответ запишите идентификатор этого покупателя (ID Покупателя).
Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену.

In [97]:
orders_products['Статус']

0            Принят, ожидается оплата
1            Принят, ожидается оплата
2            Принят, ожидается оплата
3            Принят, ожидается оплата
4            Принят, ожидается оплата
5            Принят, ожидается оплата
6                             Отменён
7            Принят, ожидается оплата
8     Оплачен, формируется к отправке
9     Оплачен, формируется к отправке
10                           Выполнен
11                           Выполнен
12                           Выполнен
13                           Выполнен
14    Оплачен, формируется к отправке
15    Оплачен, формируется к отправке
16    Оплачен, формируется к отправке
17    Оплачен, формируется к отправке
Name: Статус, dtype: object

In [101]:
orders_products.columns

Index(['Name', 'Price', 'CURRENCY', 'ID товара', 'Дата создания', 'Order ID',
       'ID Покупателя', 'Статус', 'Оплачен', 'Отменен', 'Отгружен',
       'Количество'],
      dtype='object')

In [108]:
mask1 = orders_products['Статус'] == 'Оплачен, формируется к отправке'
mask2 = orders_products['Статус'] == 'Выполнен'
mask3 = orders_products['Статус'] == 'Оплачен, формируется к отправке'

orders_products[mask1|mask2|mask3]['ID Покупателя'].mode()
best_buy = orders_products[mask1|mask2|mask3]
best_buy['Выручка'] = best_buy['Количество'] * best_buy['Price']
best_buy.groupby('ID Покупателя')['Выручка'].sum().sort_values(ascending=False)

C:\Users\R5\AppData\Local\Temp\ipykernel_11672\37020219.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best_buy['Выручка'] = best_buy['Количество'] * best_buy['Price']

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: Выручка, dtype: float64