Дано два файла:

orders.csv, содержащий данные о заказах;

products.csv, содержащий данные о товарах.

In [125]:
import pandas as pd

orders = pd.read_csv('data/orders.csv', sep=';')
orders.info()
products.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата создания  18 non-null     object
 1   Order ID       18 non-null     int64
 2   ID Покупателя  18 non-null     int64
 3   Статус         18 non-null     object
 4   Оплачен        18 non-null     object
 5   Отменен        18 non-null     object
 6   Отгружен       18 non-null     object
 7   ID товара      18 non-null     int64
 8   Количество     18 non-null     int64
dtypes: int64(4), object(5)
memory usage: 1.4+ KB

                       Name  Price CURRENCY  ID товара
0      Шатны Полосатый рейс   2999      RUR         47
1  Платье Аленький цветочек   4999      RUR         51

In [126]:
products = pd.read_csv('data/products.csv', sep=';')

products['ID товара'] = products['Product_ID']
products = products.drop(['Product_ID'], axis=1)
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       14 non-null     object
 1   Price      14 non-null     int64
 2   CURRENCY   14 non-null     object
 3   ID товара  14 non-null     int64
dtypes: int64(2), object(2)
memory usage: 576.0+ bytes

Прочитайте данные файлы, посмотрите на содержимое таблиц и проанализируйте его.

Подумайте, как связаны данные таблицы (какими ключевыми столбцами).

Объедините заданные таблицы в таблицу orders_products, чтобы в результирующей таблице оказалась информация обо всех заказах, но не оказалось информации о продуктах, на которых заказов ещё не поступало.

                  ТИПЫ ОБЪЕДИНЕНИЙ

Типы объединений в Pandas тесно связаны с операцией join из SQL, которую мы будем рассматривать в курсе в дальнейшем.

Они представлены на схеме ниже в виде кругов Эйлера.

                     inner (внутреннее)

При использовании такого типа объединения в результирующей таблице остаются только те записи, которые есть в обеих таблицах.

Аналогия в теории множеств
Пересечение (intersection) множеств А и В.

Строки, для которых совпадение не было найдено, удаляются.

                     outer (внешнее)

Данный тип делится на три подтипа:

full — используется как outer по умолчанию, объединяет все варианты в обеих таблицах.

Аналогия в теории множеств
Объединение (union) множеств А и В.

left — для всех записей из «левой» таблицы (например, ratings) ведётся поиск соответствий в «правой» (например, movies). В результирующей таблице останутся только те значения, которым были найдены соответствия, то есть только значения из ratings.

Аналогия в теории множеств
Вычитание (difference) множества B из результата объединения (union) множеств А и В.

right — аналогично предыдущему, но остаются значения только из «правой» таблицы. 

Аналогия в теории множеств
Вычитание (difference) множества А из результата объединения (union) множеств А и В.



     Во всех трёх случаях, 
     если совпадений между таблицами не найдено, на этом месте ставится пропуск (NaN).

Основные параметры метода join()

other — таблица, которую мы присоединяем. При объединении она является «правой», а исходная таблица, от имени которой вызывается метод, является «левой».

how — параметр типа объединения. 

Он может принимать значения 'inner', 'left' (left outer), 'right' (right outer), и 'outer' (full outer). По умолчанию параметр установлен на 'left'.

on — параметр, который определяет, по какому столбцу в «левой» таблице происходит объединение по индексам из «правой».

lsuffix и rsuffix — дополнения (суффиксы) к названиям одноимённых столбцов в «левой» и «правой» таблицах.

In [129]:
orders_products = products.join(
    orders,
    on='ID товара',
    how='left'
)

ValueError: columns overlap but no suffix specified: Index(['ID товара'], dtype='object')

In [ ]:
orders_products.info()
orders_products.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     14 non-null     int64
 1   Name           14 non-null     object
 2   Price          14 non-null     int64
 3   CURRENCY       14 non-null     object
 4   Дата создания  14 non-null     object
 5   Order ID       14 non-null     int64
 6   ID Покупателя  14 non-null     int64
 7   Статус         14 non-null     object
 8   Оплачен        14 non-null     object
 9   Отменен        14 non-null     object
 10  Отгружен       14 non-null     object
 11  ID товара      14 non-null     int64
 12  Количество     14 non-null     int64
dtypes: int64(6), object(7)
memory usage: 1.5+ KB

,Product_ID,Name,Price,CURRENCY,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,47,Шатны Полосатый рейс,2999,RUR,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,51,Платье Аленький цветочек,4999,RUR,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100

Задание 8.8
1 point possible (graded)
Какой идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре?

In [ ]:
orders_products.groupby('Order ID')['Name']

In [ ]:
orders_products.pivot_table(
    values='Price',
    index='Name',
    columns='Order ID', fill_value=0
)

Order ID,2,3,4,5,6,7,8,9
Name,,,,,,,,
Гольфы детские Питер Пен,99,0,0,0,0,0,0,0
Гольфы детские Снегурочка,99,0,0,0,0,0,0,0
"Носки Подарочные, жен",0,249,0,0,0,0,0,0
"Носки Подарочные, муж",0,0,199,0,0,0,0,0
"Носки Простые, муж",0,0,0,0,45,0,0,0
"Носки Честные, муж",0,0,0,50,0,0,0,0
Носки беговые Camino,0,999,0,0,0,0,0,0
Платье Аленький цветочек,0,0,0,0,0,0,4999,0
Платье Ночная Жизнь,0,0,0,0,0,7999,0,0
Платье Ночная Жизнь XXXL,0,0,0,0,8999,0,0,0
Сумка для носков,500,0,0,0,0,0,0,0
"Товар, которому не придумано название",1,0,0,0,0,0,0,0
Шатны Полосатый рейс,0,0,0,0,0,0,0,2999
Штаны Цветочная Поляна,0,0,0,0,0,0,4999,0

In [ ]:
orders_products[orders_products['Product_ID'] == 140]

,Product_ID,Name,Price,CURRENCY,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
13,140,"Товар, которому не придумано название",1,RUR,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1